<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.raptor.ddal.demo.mybatis.oracle.repository.ClobRepository">
  <select id="getClob" resultType="Map">
    SELECT id,name from clob_test
  </select>
</mapper>
