<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="off">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{MM/dd HH:mm:ss.SSS} %5p [%t] (%F:%L) %m %n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache" additivity="false"/>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>